@{
    ViewBag.Title = "About";
}
<h2>A propos</h2>

<p>Cette application est créer dans le cadre du cours de base de données avancé. <br/>
    Vous pouvez ajouter une visite médicale pour un employé ainsi que les examens réalisés durant cette visite. </p>
