@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h3>Notre page de contact</h3>

<p>Ghislain Muret <br/>
    Julien Dave</p>
<address>
    Rue Joseph Calozet<br />
    5000 Namur<br />
    081.10.22.53
</address>
<!--
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address> -->